.navbar {
   width: 100%;
   height: 70px;

   z-index: 200;

   position: sticky;
   top: 0;

   padding: 0 20px;

   display: flex;
   align-items: center;
   justify-content: space-between;

   overflow: hidden;

   > div {
      display: flex;

      > ul {
         list-style: none;

         @media (min-width: 0px) {
            display: none;
         }

         @media (min-width: 760px) {
            display: flex;
            align-items: center;
         }

         > li {
            margin: 0 20px;

            cursor: pointer;

            color: #fff;
            font-size: 12px;
         }
      }

      
   }

   .icon-hamburger {
      cursor: pointer
   }
}
