.footer {
   height: 50px;
   width: calc(100% - 70px);

   display: flex;
   align-items: center;
   justify-content: flex-start;

   padding: 0 20px;

   position: sticky;
   bottom: 0;

   > p {

      display: flex;
      justify-content: center;
    

      width: 100%;

      > button {
         cursor: pointer;

         background-color: #fff;

         color: #292929;
         font-size: 12px;
         font-weight: 700;

         padding: 4px 10px;

         border-radius: 30px;

         display: flex;
         align-items: center;
         justify-content: space-between;

         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

         > svg {
            border-radius: 50%;

            padding: 5px;

            margin-left: 10px;

            background: linear-gradient(140deg, #4a72f1, #94c1db, #f722c5);
         }
      }
   }

   > button {
      background-color: transparent;

      display: flex;
      align-items: center;

      color: #fff;
      font-size: 14px;
      font-weight: 300;

      cursor: pointer

   }
}
